<div class="container">
	<div class="form-width">

		<h1>Editing Order</h1>
		<br>

		<%= render 'form', order: @order %>

		<%= link_to 'Show', @order %> |
		<%= link_to 'Back', orders_path %>
	</div>
</div>
