<div class="container">
  	<div class="form-width">

		<h1>Editing Product</h1>
		<br>

		<%= render 'form', product: @product %>

		<br>
		<%= link_to 'Back', products_path, class: "btn btn-default" %>
	</div>
</div>
